/* header nav */
@media (max-width: 768px){
  .header_container{
   display: none;
  }
}

@media (max-width: 768px){
   body > div.hiddenBody > nav{
      display: none;
   }
}
/* menu nav */
@media (max-width: 768px) {
   .navtabbar {
      flex-direction: row;
      flex-wrap: wrap; 
      position: initial; 
      width: 700px; 
      padding: 10px;
      justify-content: center; 
   } 

   .menu_navtabbar {
      border-radius: 5px !important;
      margin: 5px;
      width: 45%; 
      text-align: center; 
      height: 50px;
   }

   
   .navtabbar {
      display: flex;
      flex-wrap: wrap; 
   }

   .navtabbar .menu_navtabbar:nth-child(3) {
      width: 300px; 
      height: 50px;
   }
}
@media (max-width: 768px){
   div.row {
      margin: 40px 0px 40px 0px;
   }
}

/* Slide wrapper header */
@media (max-width: 768px) {
   .blur_background{
      display: none;
   }
   .wrapper_slide {
       height: 300px;
   }

   .slide > div {
       width: 80%; 
       bottom: 5%; 
       left: 14%;
       font-size: 8px;
   }

   .select {
       width: 80%;
       bottom: 1%;
       left: 14%;
   }

   button.play {
       width: 1.5rem; 
       height: 1.5rem;
   }

   .change_by_click {
       width: 5rem;
   }

   .circle {
       width: 12px; 
       height: 12px;
   }

   .circle.active {
       background-color: #a0c4a3;
   }
}

/* news */
@media (max-width: 768px){
   .news_container{
      height: 70px;
   }
   .news h3{
      font-size: 14px;
   }
   .news img{
      width: 20px;
   }
   .text_news{
      position: absolute;
      width: 100%;
      top:100%;
      font-size: 11px;
   }
   .select_news{
      font-size: 12px;
   }
   .select_news span{
      width: 15px;
      height: 15px;
   }
}
/* menu header */
@media (max-width: 768px){
    .desktop {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .menu_item {
        flex: 1 ;
        border: 5px solid white;
    }
}
/* tabbar */
@media (max-width: 768px){
   :is(label,input){
      font-size: 14px !important;
   }
   .option_box{
      width: 320px;
      height: 320px;
      overflow: hidden;
   }
   .option_box span{
      font-size: 10px !important;
   }
   .y-m h2{
      font-size: 7px;
   }
   .date-picker .container{
      width: 270px;
      left: -100%;
      
   }
   .container .prev :is(.back,.next){
      width: 10px;
      height: 10px;
      font-size: 6px;
   }
   .calender tr{
      padding: 0;
   }
   table.calendar :is(th,td){
      padding: 1px;
      font-size: 8px;
      height: 10px;
   }
}
/* Box main*/

@media (max-width: 768px){
    .product.flex {
        flex-direction: column;
        flex: 0 1 100%;
    }
    .product > div > .box {
        height: 180px; 
        opacity: 1;
    }
    div.box-price {
        padding: 0px 20px 0px 0px;
    }
    div.box-view {
        padding: 0px 20px 0px 0px;
    }
}




/* slide footer */
@media (max-width: 768px){
   .wrapper_footer{
      width: 100%;
   }
   .wrapper_footer > .container1{
      width: 300%;
   }
   .footer_slide_box >.box{
      width: 100%;
   }
   .footer_slide_box > .box > .image{
      width: 100%;
      height: 120px;
   }
   .footer_slide_box > .box > .text_box{
      height: 100px;
   }
   .footer_slide_box > .box > .text_box > h3{
      font-size: 12px;
   }
   .footer_slide_box > .box > .text_box > p{
      font-size: 10px;
   }
}



/*Row Bot */

@media (max-width: 768px){
   .product_bot {
      flex-direction: column;
      flex: 0;
   }
   div.box_bot {
      height: 100%;
      width: 100%;
   }
   .box_bot > .highlight {
      opacity: 1;
   }
}


/* menu footer */

/* Minimize */

@media  (max-width: 1000px){
    .down > h4 {
       font-size: 16px;
    }
    li.down > ul > li > a {
       font-size: 14px;
    }
 }
 
 /* changes menu */
 @media (max-width: 700px){
    .all_down_content {
       flex-direction: column;
       align-items: center;
    }
 
    li.down > ul > li > a {
       font-size: 16px;
       padding: 20px;
    }
 
    .down {
       width: 100%;
       text-align: left;
       padding-left: 100px;
    }
 
    .down > h4 {
       font-size: 19px;
       padding: 25px;
    }
 
    .down_menu {
       display: none;
       white-space: nowrap;
       padding-left: 10px;     
    }
 
    .down:hover .down_menu {
       display: block;
    }
 
    li.down > h4{
       margin-bottom: 8px;
       padding:0 25px 15px 0;
       Border-bottom: 1px solid #4aacc3;
    }
 
    li.down > ul > li{
       margin-bottom: 8px;
       padding: 20px;
       Border-bottom: 1px solid #4aacc3;
    }
 }

 /* Map Viet Nam */
 @media (max-width: 768px){
   .Vietnam{
      display: block;
      width: 100%;
   }

   .description{
      display: flex;
      justify-content: center;
      width: 100%;
   }

   .description .container{
      right: 0;
      position: relative;
   }

   .map-label{
      display: none;
   }
 }

 /* AI chat */
 @media (max-width: 768px){
   .connect_AI{
      display: none;
   }
 }

 /* bg white */
 @media (max-width: 768px){
   section.product{
      display: block !important;
   }
   div.product{
      display: none;
   }
   .view_mores{
      display: none;
   }

   div.product.active{
      display: block;
   }
   .row_top{
      width: 100%;
      height: 100%;
   }
   .mobile_button_row_top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 96%;
      height: 64%;
      z-index: 199;
   }

   .mobile_button_row_top span{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 2px solid aliceblue;
      background-color: rgb(0, 0, 0,0.5);
      border-radius: 50%;
   }

   .mobile_button_row_top span i{
      color: wheat;
   }
 }