* {
   font-family: Arial, Helvetica, sans-serif;
}
body {  
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}
.flex{
   display: flex;
   justify-content: space-between;
}

/* CSS header */

header{
   height: 70px;
   align-items: center;
}

div.containerLogo{
  height: 60px;
  width: auto;
}

img.logo {
   display: block;
   max-width: 100%;
   height: auto;
}

.search {
   border-radius: 50px;
   width: 300px;
   height: 25px;
   font-size: 15px;
   font-weight: bold;
   font-style: italic;
}

/* CSS login */
header div button.login{
   margin: 0 7px;
   width: 8rem;
   padding:0.2rem 1rem;
   border-radius: 20px;
   background-color: white;
   cursor: pointer;
   transition:ease 0.5s all;
}

header div button.login:hover{
   background-color: #1e201e;
   color: #ecdfcc;
   font-weight: bold;
   box-shadow: 2px 2px 7px gray;
}

.sign_in{
   display: none;
   position: fixed;
   width: 350px;
   height: 450px;
   padding: 40px;
   background-color: white;
   box-shadow: 7px 7px 20px rgba(0,0,0, 0.9);
   border-radius: 20px;
   z-index: 999;
   top: 50%;
   left: 50%;
   justify-content: center;
   transform: translate(-50%,-50%);
   transition-duration: ease 0.5s all;
}

.sign_in > h3{
   text-align: center;
   font-size: 25px;
   color: #242629;
}

.overlay{
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   z-index: 900;
}

#accUser , #accPass{
   position: relative;
   font-size: 15px;
   font-weight: bold;
   width: 100%;
   height: 50px;
   margin-bottom: 20px;
   border: none;
   outline: none;
   border-bottom: 2px solid black;
   border-radius: 10px 10px 0 0;
}
label:is([for="accUser"],[for="accPass"]){
   position: absolute;
   pointer-events: none;
   transition: ease 0.2s all;
   left: 12%;
}
label[for="accUser"]{
   top: 49%;
}
label[for="accPass"]{
   top: 63%;
}

.account > div > input:focus+ label,
.account > div > input:not(:placeholder-shown) + label{
   transform: translateY(-14px);
   font-size: 10px;
}
.account > .iconEye{
   position: absolute;
   display: block;
   left: 83%;
   bottom: 33%;
}

.account > .iconEye:hover{
   opacity: 0.3;
}

.submit {
   display: block;
   justify-content: center;
}

.submit > button{
   background-color: #176b87;
   color: #ecdfcc;
   width: 100%;
   font-weight: bold;
   font-size: 15px;
   height: 35px;
   border: 0px;
   border-radius: 10px;
   margin-bottom: 20px;
   cursor: pointer;
}

.submit > button:hover{
   background-color: white;
   border: 1px solid black;
   color: black;
}
.submit > hr{
   width: 30%;
}
.exit {
   position: absolute;
   display: flex;
   justify-content: center;
   align-content: center;
   left: 92%;
   bottom: 93%;
   padding: 0.55rem;
   cursor: pointer;
}

.exit:hover{
   background-color: rgba(0, 0, 0, 0.1);
}


.card{
   width: 100%;
   height: auto;
}

.sign_up{
   display: flex;
   justify-content: space-between;
   font-size: 15px;
   cursor: pointer;
   color: black;
}

.sign_up > p:hover{
   text-decoration: underline;
}
 /* CSS Nav */
body > nav{
   height: 50px;
   background-color: black;
   color: white;
   align-items: center;
   
}

ul.menu{
   position: relative;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

ul.menu > li > a{
   padding: 1rem 1.7rem;
   color: white;
   display: block;
   text-decoration: none;
   margin: 0;
   transition: ease 0.35s all;
}

ul.menu > li > a:hover{
   color: black !important;
   background-color: white !important;
}

.fa-chevron-down {
   width: 14px;
   height: 16px;
   padding-left: 5px;
}

.submenu {
   display: none;
   position: absolute;
   height: auto;
   width: auto;
   left: 1px;
   border-top: 5px solid #5d7b6f;
   padding: 0 40px 40px 0;
   border-radius: 0 0 7px 7px;
   background-color: #eae7d6; 
   z-index: 1000;
   justify-content: space-between;
}

.submenu > ul > li{
   list-style: none;
   padding: 14px 0px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.submenu > ul > li > a{
   text-decoration: none;
   color: #132c22;
   font-size: 13.5px;
}

.submenu > ul > li > a:hover{
   text-decoration: underline;
}

ul.menu > li:hover .submenu{
   display: flex;
}

/* CSS AI */

.connect_AI{
   position: fixed;
   z-index: 2009;
   align-items: center;
   top: 90%;
   left: 85%;
}

.connect_AI img{
   width: 50px;
   height: auto;
}

.connect_AI:hover{
   color: #4aacc3;
   cursor: pointer;
}

/* CSS main ---------------------------------------------------------------*/

/* CSS wrapper */
.wrapper{
   width: 100%;
   height: auto;
   position: relative;
   overflow: hidden;
}

.wrapper_slide{
   width: 100%;
   height: 100%;
}
.slide{
   width: 100%;
   height: 100%;
   display: none;
}

.select{
   position: absolute;
   display: flex;
   bottom: 30%;
   left: 80%;
}

button.play {
   background-color: none;
   display: flex;
   place-items: center;
   justify-content: center;
   margin-right: 10px;
   background-color: rgba(0, 0, 0, 0.3);
   width: 1.7rem;
   border-radius: 50%;
}

.fa-play , .fa-pause{
   color: white;
}
.change_by_click{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.55);
   width: 7rem;
   border-radius: 20px;
}
.circle{
   display: inline-block;
   width: 16px;
   height: 16px;
   margin: 3px;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid aqua;
   cursor: pointer;
}

.circle:hover{
   background-color: #b0d4b8;
}

.circle.active{
   background-color: #b0d4b8;
}
/* CSS tabbar */
div.tabbar{
   display: flex;
   position: relative;
   justify-content: center;
   width: 100%;
   height: 200px;
   background-image: url(images/pngtree-sunset-sky-background-with-pink-clouds-and-cloudy-evening-sun-image_2204134.jpg);
   background-size: cover;
}

.navtabbar{
   display: flex;
   position: absolute;
   width: 60%;
   height: 55px;
   top: -20%;
   font-size: 20px;
   font-weight: bold;
}

.menu_navtabbar{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   font-size: 18px;
   background-color: #b0d4b8;
   transition: ease 0.5s all;
}

.menu_navtabbar.active{
   background-color: transparent;
}

.menu_navtabbar > img.icon{
   width: 1.3rem;
   margin-right: 0.4rem;  
}
    /* CSS FOOTER */
    .container {
      width: 100%;
      margin: auto;
      position: relative;
      padding: 0;
      height: 150px;
      overflow: hidden;
      background-color: #d1cebb
   }
   .container2 {
      max-width: 1000px;
      position: relative;
      margin: auto;
      clear: both;
      border-radius: 4px;
      padding: 0 5px;
   }
   .footer {
      background-color: #166987;
   }
   
   div.text {
      color: rgba(255, 255, 255, 0.779);
      position: absolute;
      top: 10px;
      left: 100px;
      }
   
   .text h4 {
      color: #2b89ab;
   }
   
   .navbar {
      padding: 0 ;
      width: 100%;
      height: 100%;
      overflow: hidden;
   }
   
   .all_down_content {
      display: flex;
      list-style-type:none;
      margin: 0;
      padding: 0;
      justify-content: space-around;
   }
   .navbar {
      padding-top: 30px;
      margin-bottom: 20px;
   }
   .down_menu{
      list-style-type: none;
      margin: 0;
      padding: 0;
   }
   ul > li.down > ul > li{
      margin-bottom: 15px;
   }
   li.down > ul > li > a {
      color:white;
      text-decoration: none;
      font-size: 13px;
   }
   li.down > ul > li > a:hover {
      color: rgb(246, 237, 204);
   }
   .down h4 {
      font-size: 18px;
      color: rgb(246, 237, 204);
      font-size: 16px;
   }
   
   /* Minimize */
   
   @media (max-width: 1000px){
      .down > h4 {
         font-size: 16px;
      }
      li.down > ul > li > a {
         font-size: 14px;
      }
   }
   
   /* changes menu */
   @media (max-width: 700px){
      .all_down_content {
         flex-direction: column;
         align-items: center;
      }
   
      li.down > ul > li > a {
         font-size: 16px;
         padding: 20px;
      }
   
      .down {
         width: 100%;
         text-align: left;
         padding-left: 100px;
      }
   
      .down > h4 {
         font-size: 19px;
         padding: 25px;
      }
   
      .down_menu {
         display: none;
         white-space: nowrap;
         padding-left: 10px;     
      }
   
      .down:hover .down_menu {
         display: block;
      }
   
      li.down > h4{
         margin-bottom: 8px;
         padding:0 25px 15px 0;
         Border-bottom: 1px solid #4aacc3;
      }
   
      li.down > ul > li{
         margin-bottom: 8px;
         padding: 20px;
         Border-bottom: 1px solid #4aacc3;
      }
   }
   
   /* End Footer */
   
   .footer_copyright {
      background-color: #166987;
      overflow: hidden;
      color: white;
      padding: 0px;
   }

   .footer_copyright li {
      list-style-type: none;
   }


   .footer-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
   }

   .skyteam {
      margin-bottom: 20px;
      margin-top: 10px;
   }

   .social_icon{
      width: 100%;
      height: 40px;
   }

   .social_icon > ul {
      width: 70%;
      height: 100%;
      margin: 0;
      padding: 0;
   }

   .social_icon > ul > li > a > img.icon{
      width: 150%;
   }

   .skyteam >a {
      display: block;
      margin-bottom: 10px;
   }
   .skyteam  img {

      width: 120px;
      height: auto;
      display: block;
   }
   
   .social_icon  li {
      padding: 0;
      margin: 0 ;
      display: inline-block;
      width: 20px;
      height: 20px;
   }
   .social_icon ul {
      padding: 0 ;
      margin:0;
   }
   
   ul.term {
      padding: 0px;
   }
   ul.term li a {
      text-decoration: none;
      font-size: 13px;
      color: white;
   }
   ul.term li {
   padding: 5px;
   margin: 0;
   display: inline;
   width: 20px;
   height: 20px;
   border-right: 1px solid white;
   }
   
   ul.term li:last-child {
      border-right: none;
   }
   
   .footer-center {
      width:50%;
   }

   .pc img {
      width:100%;
      height: auto;
   }

   .logo-small {
      padding: 0px;
   }

   .company_info a {
      text-decoration: none;
      color: white;
   }

   .company_info  {
   font-size: 13px;
   padding-top: 9px;
   }

   .footer-right li {
      padding: 0;
      margin: 0;
      display: inline;
   }
   .footer-right ul {
      padding:0;
      margin:0;
   }
   .footer-right li:not(:first-child)
   {
      margin-left: 20px;
   }
   .footer-right li:last-child
   {
      display: block;
      margin-left: 0;
      margin-top: 15px;
      width: 100%;
      text-align: center;
   }
   .logo_partner {
      padding-top: 40px;
   }
   .logo_partner  a{
      text-decoration: none;
      font-size: 13px;
      color: white;
   }
   .footer-right img {
      height: 35px;
      width: auto;
   }


   