* {
   font-family: Arial, Helvetica, sans-serif;
}

.flex{
   display: flex;
   justify-content: space-between;
}

header{
   height: 70px;
   margin: 0 100px;
   align-items: center;
}

header img.logo {
   height: 50px;
}

.search {
   border-radius: 50px;
   width: 300px;
}

header div p.login{
   margin: 0 7px;
}

header div p.login:hover{
   padding: 5px;
   background-color: #5d7b6f;
   color: #b0d4b8;
   cursor: pointer;
}

nav{
   height: 50px;
   background-color: black;
   color: white;
   align-items: center;
}

ul.menu{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

ul.menu li a{
   padding: 1.7rem;
   display: block;
   text-decoration: none;
   color: white;
   margin: 0;
}

ul.menu li a:hover{
   color: black;
   background-color: white;
}

.fa-chevron-down {
   width: 14px;
   height: 16px;
   padding-left: 5px;
}
