.flex{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
}
nav {
   background-color: #9f671d;
}

ul.menu {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

ul.menu > li > a {
   display: block;
   padding: 1.5rem;
   text-decoration: none;
   color: white;
}

ul.menu:first-child > li {
   border-left: 1px solid white;
}
ul.menu:last-child > li {
   border-left: 1px solid white;
}

ul.menu>li>a:hover {
   background-color: aquamarine;
   color: white;
}
 /* CSS Header */
header{
   font-size: large;
   margin-top: 2px;
   background: linear-gradient(#e68a28, rgba(224, 147, 39, 0.473));
}

header  img {
   width: 400px ;
   height: 200px;
}

/* CSS SUBCONTENT */

.subcontent {
   display: none;
   background-color:white ;
   border-top: 5px solid aquamarine;
   position: absolute;
   color: black;
}

.sub:hover .subcontent {
   display: block;
}

